<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>leftMenu</title>-->
<!--<script type="text/javascript" src="{{static_url('Commons/jquery-2.1.4.min.js')}}"></script>-->
<!--<style>-->
<!--* {-->
<!--margin: 0;-->
<!--padding: 0;-->
<!--}-->

<!--.outer {-->
<!--}-->

<!--.menu {-->
<!--width: 20%;-->
<!--background-color: blueviolet;-->
<!--float: left;-->
<!--}-->

<!--.content {-->
<!--width: 80%;-->
<!--height: 500px;-->
<!--background-color: blue;-->
<!--float: left;-->
<!--}-->

<!--.active {-->
<!--background-color: chartreuse;-->
<!--color: white;-->
<!--}-->

<!--.hide {-->
<!--display: none;-->
<!--}-->
<!--</style>-->
<!--</head>-->
<!--<body>-->
<!--<div class="outer">-->
<!--<div class="menu">-->
<!--<div class="item">-->
<!--<div itemcon="1" class="title active" >菜单一</div>-->
<!--<div class="con">-->
<!--<div>111</div>-->
<!--<div>111</div>-->
<!--<div>111</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="item">-->
<!--<div itemcon="2" class="title" >菜单二</div>-->
<!--<div class="con hide">-->
<!--<div>222</div>-->
<!--<div>222</div>-->
<!--<div>222</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="item">-->
<!--<div itemcon="3" class="title" >菜单三</div>-->
<!--<div class="con hide">-->
<!--<div>333</div>-->
<!--<div>333</div>-->
<!--<div>333</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="content">-->
<!--<div id="1">content1</div>-->
<!--<div id="2" class="hide">content2</div>-->
<!--<div id="3" class="hide">content3</div>-->
<!--</div>-->
<!--</div>-->

<!--<script>-->
<!--$(function () {-->
<!--$(".item .title").click(function () {       //绑定事件-->
<!--$(this).addClass('active').siblings().removeClass('hide');-->
<!--$(this).parent().siblings().find('.con').addClass('hide');-->
<!--$(this).parent().siblings().find('.title').removeClass('active');-->

<!--//下面操作对应点击哪项菜单显示相应内容-->
<!--var con = $(this).attr('itemcon');-->
<!--$("#" + con).removeClass('hide').siblings().addClass('hide'); //为什么要拼接-->
<!--})-->
<!--});-->

<!--</script>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title></title>

    <link rel="stylesheet" href="{{static_url('Admin/Plugins/bootstrap/css/bootstrap.css')}}"/>
    <link rel="stylesheet" href="{{static_url('Admin/Plugins/font-awesome/css/font-awesome.css')}}"/>
    <link rel="stylesheet" href="{{static_url('Admin/Css/commons.css')}}"/>
    <link rel="stylesheet" href="{{static_url('Admin/Css/cmdb.css')}}"/>
    <link rel="stylesheet" href="{{static_url('Admin/Css/plugsin.css')}}"/>

    <style>
        .form-error {
            font-size: 8px;
            position: absolute;
            bottom: -17px;
            color: #EC6868;
            margin: 0 15px;
            left: 0px;
            right: 0px;
            background: #f2dede;
            padding: 0 5px;
        }

        .popover {
            max-width: 500px !important;
        }
    </style>


</head>
<body>

<div class="bg-header">
    <nav class="navbar navbar-default no-radius mb0">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">LNH运维平台</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home/index/">LNH运维平台</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li id="top_menu_asset"><a href="/asset/lists/">资产管理 <span class="sr-only">(current)</span></a></li>
                    <li id="top_menu_pool"><a href="/pool/ipaddr/">IP资源池</a></li>
                    <li id="top_menu_dns"><a href="/dns/zone/">DNS</a></li>
                    <li id="top_menu_configration"><a href="/configration/order/">配置管理</a></li>
                    <li id="top_menu_openstack"><a href="#">OpenStack</a></li>
                    <li id="top_menu_task"><a href="#">任务管理 <span class="badge bg-danger">4</span></a></li>
                    <li id='top_menu_overflow' class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">流程审批
                            <span class="badge bg-success">2</span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">服务器申请</a></li>
                            <li><a href="#">上线申请</a></li>
                            <li><a href="#">下线申请</a></li>
                            <li class="divider"></li>
                            <li><a href="#">流程处理</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a title="" href="#" class="dropdown-toggle user-favicon" data-toggle="dropdown" role="button"
                           aria-expanded="false">
                            <img src="/static/images/default.png" alt="用户信息" class="img-circle user-img">
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">我的资料</a></li>
                            <li><a href="#">待办事项</a></li>
                            <li class="divider"></li>
                            <li><a href="/account/logout/">退出</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</div>

<div class="bg-body">

    <div class="left-menu">
        <div class="menu-title clearfix" style="border-bottom: 1px solid #E6EEF8;">
            <div class="title">用户管理</div>
        </div>
        <div class="menu-body">
            <div class="static-menu">
                <a id="left_menu_ipaddr" href="/Home/user.html/" class="active"><span class="icon-wrap"><i
                        class="fa fa-connectdevelop"></i></span> 用户管理</a>
                <a id="left_menu_vlan" href="/pool/vlan/"> <span class="icon-wrap"><i
                        class="fa fa-code-fork"></i></span> 商户管理</a>
            </div>

        </div>
    </div>
    <div class="right-content">
        <div>
            <ol class="breadcrumb no-radius no-margin" style="border-bottom: 1px solid #ddd;">

                <li><a href="/home/index/">首页</a></li>
                <li><a href="/pool/ipaddr/">IP资源池</a></li>
                <li class="active">资源池</li>
            </ol>
        </div>
        <div>


            <div style="margin-top: 20px;">

                <div class="clearfix mt-20">
                    <div class="col-md-12">

                        <div class="list-block">

                            <div class="clearfix function-area">
                                <div class="btn-group btn-group-sm custom-btn-group">
                                    <a class="btn btn-default no-radius" onclick="$.CheckAll('#table-body')"><i
                                            class="fa fa-check-square"></i> 全选</a>
                                    <a class="btn btn-default no-radius"
                                       onclick="$.UnCheckAll('#table-body',SpecialOutEditFunc)"><i
                                            class="fa fa-minus-square-o"></i> 取消</a>
                                    <a class="btn btn-default no-radius"
                                       onclick="$.ReverseCheck('#table-body',null, SpecialOutEditFunc)"><i
                                            class="fa fa-check-square-o"></i> 反选</a>
                                    <a class="btn btn-default no-radius" href="#" data-toggle="modal"
                                       data-keyboard="false" data-target="#do_add_modal"><i
                                            class="fa fa-plus-circle"></i> 添加</a>
                                    <a class="btn btn-default no-radius" onclick="$.Show('#shade,#modal_delete');"><i
                                            class="fa fa-trash"></i> 删除</a>
                                    <a id="edit_mode_target" class="btn btn-default no-radius"
                                       onclick="$.TableEditMode(this,'#table-body', null, SpecialOutEditFunc)"><i
                                            class="fa fa-pencil-square-o"></i> <span>进入编辑模式</span></a>
                                    <a class="btn btn-default no-radius" onclick="Save()"><i class="fa fa-floppy-o"></i>
                                        保存</a>
                                    <a class="btn btn-default no-radius" onclick="Refresh()"><i
                                            class="fa fa-refresh"></i> 刷新</a>
                                    <a id="handle_status" class="btn no-radius" tabindex="0" role="button"
                                       data-toggle="manual" data-container="body" data-html="true"
                                       data-placement="bottom" title="错误详细" data-content=""></a>
                                </div>
                            </div>

                            <div class="table-responsive table-area">
                                <table class="table table-striped table-bordered" id="example1">
                                    <thead id="table-head">
                                    <tr>
                                        <th class="col-md-1">选择</th>
                                        <th class="col-md-1">ID</th>
                                        <th en-sort="true" class="col-md-2 en-sort both">用户名</th>
                                        <th en-sort="true" class="col-md-2 en-sort both">邮箱</th>
                                        <th en-sort="true" class="col-md-1 en-sort both">用户类别</th>
                                        <th en-sort="true" class="col-md-1 en-sort both">用户级别</th>
                                        <th en-sort="true" class="col-md-2 en-sort both">最后一次登录时间</th>
                                    </tr>
                                    </thead>
                                    <tbody id="table-body" edit-mode="false">
                                    {% for user in rep_list %}
                                    <tr nid="{{user.nid}}">
                                        <td><input type="checkbox" id="{{user.nid}}"></td>
                                        <td>{{user.nid}}</td>
                                        <td edit-enable="true" edit-type="input" name="username" origin="{{user.username}}">{{user.username}}</td>
                                        <td edit-enable="true" edit-type="input" name="email" origin="{{user.email}}">{{user.email}}</td>
                                        <td edit-enable="true" edit-type="input" name="user_type" origin="{{user.user_type_caption}}">{{user.user_type_caption}}</td>
                                        <td edit-enable="true" edit-type="input" name="vip" origin="{{user.vip_type_caption}}">{{user.vip_type_caption}}</td>
                                        <td edit-enable="true" edit-type="input" name="last_login" origin="{{user.last_login}}">{{user.last_login}}</td>
                                    </tr>
                                    {% end %}
                                    </tbody>
                                </table>
                                <div class="clearfix">
                                    <div class="right">
                                        <ul id="pager" class="pagination pagination-sm no-margin">
                                            {% raw page %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


            <!-- 删除层开始 -->
            <div id="modal_delete" class="alert alert-danger alert-dismissible fade in modal-delete hide" role="alert">
                <button type="button" class="close" aria-label="Close" onclick="$.Hide('#shade,#modal_delete');">
                    <span>×</span></button>
                <h4>确定删除选中用户？</h4>
                <div class="mt-20">与该用户相关联的所有信息将全部被删除！<br> &nbsp;</div>
                <div class="clearfix">
                    <button type="button" class="btn btn-danger right mrl-8" onclick="DoDeleteUser();">确定删除</button>
                    <button type="button" class="btn btn-default right mrl-8" onclick="$.Hide('#shade,#modal_delete');">
                        取消
                    </button>
                </div>
            </div>
            <!-- 删除层结束 -->


            <!-- 添加层开始 -->
            <div class="modal fade" data-backdrop="static" id="do_add_modal" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div id="do_add_form" class="form-horizontal">
                            <div class="modal-header">
                                <button type="button" onclick="" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                <h4 class="modal-title" id="myModalLabel" style="font-weight: normal;">添加用户</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" style="font-weight: normal">用户名：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="id_username" name="username" placeholder="用户名"
                                               type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" style="font-weight: normal">用户类型：</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="id_user_type" name="user_type">
                                            <option value="1">用户</option>
                                            <option value="2">商户</option>
                                            <option value="3">管理员</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" style="font-weight: normal">Email：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="id_email" name="email" placeholder="邮箱"
                                               type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" style="font-weight: normal">密码：</label>
                                    <div class="col-sm-9">
                                        <input class="form-control" id="id_mpassword" name="password" placeholder="用户登录密码"
                                               type="password">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" style="font-weight: normal">VIP：</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="id_status" name="vip">
                                            <option value="1">铜牌</option>
                                            <option value="2">银牌</option>
                                            <option value="3">金牌</option>
                                            <option value="4">白金</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <span id="do_add_status" style="color: #EC6868;"></span>
                                <button type="button" onclick="CancelModal('#do_add_form')" class="btn btn-default"
                                        data-dismiss="modal">取 消
                                </button>
                                <button type="button" onclick="SubmitModal('#do_add_form');"
                                        class="btn btn-primary">提 交
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 添加层结束 -->


        </div>
    </div>

</div>


<div class="bg-footer"></div>

<!-- 遮罩层开始 -->
<div id='shade' class='shade hide'></div>
<!-- 遮罩层结束 -->
<!-- 加载层开始 -->
<div id='loading' class='loading hide'></div>
<!-- 加载层结束 -->

<script type="text/javascript" src="{{static_url('Admin/Javascript/jquery-2.1.4.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('Admin/Javascript/jquery.cookie.js')}}"></script>
<script type="text/javascript" src="{{static_url('Admin/Javascript/common.js')}}"></script>
<script type="text/javascript" src="{{static_url('Admin/Javascript/pool_ipaddr.js')}}"></script>

<script type="text/javascript" src="{{static_url('Admin/Plugins/bootstrap/js/bootstrap.js')}}"></script>
<script type="text/javascript" src="{{static_url('Admin/Plugins/highchart/highcharts.js')}}"></script>
<script type="text/javascript" src="{{static_url('Admin/Plugins/highchart/exporting.js')}}"></script>

<script type="text/javascript">
    $(function () {
        $('#top_menu_pool').addClass('active');
    });
</script>


</body>
</html>